ProjectMVC/Web References/WSTest/Test.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateActivity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateActivityResponse">
        <s:complexType />
      </s:element>
      <s:element name="Base64Encode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="plainText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Base64EncodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Base64EncodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Base64Decode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="base64EndodedData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Base64DecodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Base64DecodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActivities">
        <s:complexType />
      </s:element>
      <s:element name="GetActivitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActivitiesResult" type="tns:ArrayOfActivities" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfActivities">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Activities" nillable="true" type="tns:Activities" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Activities">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateActivitySoapIn">
    <wsdl:part name="parameters" element="tns:CreateActivity" />
  </wsdl:message>
  <wsdl:message name="CreateActivitySoapOut">
    <wsdl:part name="parameters" element="tns:CreateActivityResponse" />
  </wsdl:message>
  <wsdl:message name="Base64EncodeSoapIn">
    <wsdl:part name="parameters" element="tns:Base64Encode" />
  </wsdl:message>
  <wsdl:message name="Base64EncodeSoapOut">
    <wsdl:part name="parameters" element="tns:Base64EncodeResponse" />
  </wsdl:message>
  <wsdl:message name="Base64DecodeSoapIn">
    <wsdl:part name="parameters" element="tns:Base64Decode" />
  </wsdl:message>
  <wsdl:message name="Base64DecodeSoapOut">
    <wsdl:part name="parameters" element="tns:Base64DecodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetActivitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetActivities" />
  </wsdl:message>
  <wsdl:message name="GetActivitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetActivitiesResponse" />
  </wsdl:message>
  <wsdl:portType name="TestSoap">
    <wsdl:operation name="CreateActivity">
      <wsdl:input message="tns:CreateActivitySoapIn" />
      <wsdl:output message="tns:CreateActivitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Base64Encode">
      <wsdl:input message="tns:Base64EncodeSoapIn" />
      <wsdl:output message="tns:Base64EncodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Base64Decode">
      <wsdl:input message="tns:Base64DecodeSoapIn" />
      <wsdl:output message="tns:Base64DecodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetActivities">
      <wsdl:input message="tns:GetActivitiesSoapIn" />
      <wsdl:output message="tns:GetActivitiesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestSoap" type="tns:TestSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateActivity">
      <soap:operation soapAction="http://tempuri.org/CreateActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Base64Encode">
      <soap:operation soapAction="http://tempuri.org/Base64Encode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Base64Decode">
      <soap:operation soapAction="http://tempuri.org/Base64Decode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivities">
      <soap:operation soapAction="http://tempuri.org/GetActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestSoap12" type="tns:TestSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateActivity">
      <soap12:operation soapAction="http://tempuri.org/CreateActivity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Base64Encode">
      <soap12:operation soapAction="http://tempuri.org/Base64Encode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Base64Decode">
      <soap12:operation soapAction="http://tempuri.org/Base64Decode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivities">
      <soap12:operation soapAction="http://tempuri.org/GetActivities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Test">
    <wsdl:port name="TestSoap" binding="tns:TestSoap">
      <soap:address location="http://localhost/ProjectMVC.WS/Services/Test.asmx" />
    </wsdl:port>
    <wsdl:port name="TestSoap12" binding="tns:TestSoap12">
      <soap12:address location="http://localhost/ProjectMVC.WS/Services/Test.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>